.twitter_content
  %h1.title= @twitter.title
  %p.body= @twitter.body
  .btn-group
    =link_to "Edit", edit_twitter_path, class: "btn btn-default"
    =link_to "Delete", twitter_path, method: :delete, data: {confirm: "Are you sure?" }, class: "btn btn-default"
